body{
  background-image: url("../images/background.png");
    /*margin-right:20px;*/
}

#gifMove{
  float: left;
}

#rating-text, #label-text, #title-text, .instructions {
  color: #eeeeee
}

/* button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance:button;
} */

button,
div,
form,
input {
  margin: 10px;
}

.container{
  display:inline;
}
